:root {
    --background-color: #ffcdb2;
    --panel-background-color: #ffb4a2;
    --panel-color: #6d6875;
    --panel-disabled-color: #b5838d;
    --slider-thumb-color: #6d6875;
    --slider-thumb-disabled-color: #b5838d;
    --slider-background-color: #b5838d;
    --control-background-color: #b5838d;
    --control-color: #ffb4a2;
    --control-hover-color: #6d6875;
    --caption-color: #6d6875;
    --shadow-color: #00000010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);
}

body {
    background-color: var(--background-color);
}

.header {
    display: none;
}

.clock {
    display: flex;
    justify-content: center;
}

.panel {
    width: 75%;
    height: 70vh;
    background-color: var(--panel-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px var(--shadow-color);
    position: absolute;
    top: 50%;
    transform: translateY(-58%);
}

.display {
    color: var(--panel-color);
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: color 0.25s;
}

.display.disabled {
    color: var(--panel-disabled-color);
    transition: color 0.25s;
}

.display:first-child {
    border-bottom: 1px solid var(--slider-background-color);
}

.display:last-child {
    border-top: 1px solid var(--slider-background-color);
}

.time {
    font-family: Lato-Light;
    font-size: 2em;
    font-weight: 300;
}

.label {
    font-family: Lato-Regular;
    font-size: 1em;
    margin-top: 10px;
}

.slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 7px;
    background: var(--slider-background-color);
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    outline: none;
}

.slider.disabled::-webkit-slider-thumb {
    background: var(--slider-thumb-disabed-color);
    transition: background 0.25s;
}

.slider.disabled::-moz-range-thumb {
    background: var(--slider-thumb-disabled-color);
    transition: background 0.25s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--slider-thumb-color);
    border-radius: 50px;
    border: none;
    transition: background 0.25s;
}

.slider::-moz-range-thumb {
    appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: var(--slider-thumb-color);
    border-radius: 50px;
    border: none;
    transition: background 0.25s;
}

.control {
    width: 100%;
    height: 70px;
    background-color: var(--control-background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.button {
    color: var(--control-color);
    flex-basis: 21%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.25s;
}

.button:hover, .button.active {
    color: var(--control-hover-color);
    transition: color 0.25s;
}

@media only screen and (min-width: 500px) {
    .header {
        display: block;
        color: var(--caption-color);
        margin: calc((50vh - 220px) / 3) 0;
    }
    
    .header h1 {
        font-family: Lato-Light;
        font-size: 3em;
        font-weight: 300;
        text-align: center;
    }

    .panel {
        position: static;
        top: 0;
        transform: none;
        width: 100%;
        height: 260px;
        flex-direction: row;
        justify-content: center;
        box-shadow: none;
    }

    .clock {
        position: relative;
        width: 540px;
        height: 360px;
        margin: 0 auto;
        background-color: var(--panel-background-color);
        border-radius: 10px;
        box-shadow: 0 0 30px 10px var(--shadow-color);
    }
    
    .display {
        height: 200px;
        flex-basis: 42.5%;
    }

    .display:first-child, .display:last-child {
        border: none;
    }

    .time {
        font-size: 2.5em;
    }

    .slider {
        width: 80%;
        height: 6px;
        margin-top: 60px;
    }

    .control {
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--control-background-color);
    }

    .button {
        font-size: 1.25em;
    }
}